# Enkripsi

## Mempersiapkan Kunci

In [52]:
plain = "TENTUKAN PRIORITAS ANDA SEBAB KITA TIDAK DAPAT MENGERJAKAN SEMUANYA X."
key = "BOROBUDUR"

Huruf-huruf unik dari key diurutkan berdasarkan abjad dan disimpan pada sebuah variabel. Ini akan dipakai nanti untuk mencari tahu urutan sebuah huruf tertentu.

In [53]:
key_letters_sorted_unique = sorted(set(key))
print(key_letters_sorted_unique)

['B', 'D', 'O', 'R', 'U']

Tiap huruf digandengkan dengan urutannya secara abjad dalam kunci. Tiap huruf yang sama memiliki urutan yang sama.

In [54]:
import pandas as pd
key_letter_index_pairs = [(letter, key_letters_sorted_unique.index(letter) + 1) for letter in key]

df_klip = pd.DataFrame([i for _, i in key_letter_index_pairs])
df_klip = df_klip.transpose()
df_klip.columns = list(key)

display(df_klip.style.hide(axis='index'))

## Mengolah Plain Text

Karakter-karakter non-alphanumeric dan spasi perlu dihilangkan dari plain text.

In [55]:
plain = "".join([c for c in plain if c.isalnum()])
print(plain)

TENTUKANPRIORITASANDASEBABKITATIDAKDAPATMENGERJAKANSEMUANYAX

Plain text dimasukkan ke sebuah tabel dengan lebar $N$ dan tinggi $M$. Dengan 
$$N = \text{jumlah huruf pada key}$$
dan
$$M = \left \lceil \frac {\text{jumlah huruf pada plain text}} {N} \right \rceil$$

In [56]:
rows: list[list[str]] = []
l = 0
width = len(key)

while (l < len(plain)):
    row: list[str] = []
    for c in plain[l:l+width]:
        row.append(c)
    rows.append(row)
    l += width

df_rows = pd.DataFrame(rows, columns=[i for _, i in key_letter_index_pairs])

display(df_klip.style.hide(axis='index'))
display(df_rows.replace({None: ""}).style.hide(axis='index'))

## Membuat Cipher Text

In [57]:
from itertools import zip_longest
from textwrap import wrap

cols = list(zip_longest(*rows, fillvalue=""))
cipher = ""

for i in range(len(cols)):
    cols_filtered = [col for j, col in enumerate(cols) if key_letter_index_pairs[j][1] == i + 1]

    for i_y in range(len(rows)):
        for i_x in range(len(cols_filtered)):
            char = cols_filtered[i_x][i_y]
            if char is not None:
                cipher += char

cipher = " ".join(wrap(cipher, 5))
print(cipher)

TURIN EIIAM RAUAA AAANS ETIRD STTPT JKAYN POAAK ADAEA MNKNT SBBDK EGNEX

# Dekripsi

In [58]:
# Ubah variabel-variabel di bawah jika ingin mencoba dengan plaintext dan kunci yang berbeda
key = key
cipher = cipher
plain = ""

print(f"key: {key}")
print(f"cipher: {cipher}")

key: BOROBUDUR
cipher: TURIN EIIAM RAUAA AAANS ETIRD STTPT JKAYN POAAK ADAEA MNKNT SBBDK EGNEX

## Mempersiapkan Kunci

Huruf-huruf unik dari kunci diurutkan berdasarkan abjad dan disimpan pada sebuah variabel.

In [59]:
key_letters_sorted_unique = sorted(set(key))
print(key_letters_sorted_unique)

['B', 'D', 'O', 'R', 'U']

Tiap huruf digandengkan dengan urutannya secara abjad dalam kunci. Tiap huruf yang sama memiliki urutan yang sama.

In [60]:
import pandas as pd
key_letter_index_pairs = [(letter, key_letters_sorted_unique.index(letter) + 1) for letter in key]

df_klip = pd.DataFrame([i for _, i in key_letter_index_pairs])
df_klip = df_klip.transpose()
df_klip.columns = list(key)

display(df_klip.style.hide(axis='index'))

## Mengolah Cipher Text

Karakter-karakter non-alphanumeric dan spasi perlu dihilangkan dari plain text.

In [61]:
cipher = "".join([c for c in cipher if c.isalnum()])
print(cipher)

TURINEIIAMRAUAAAAANSETIRDSTTPTJKAYNPOAAKADAEAMNKNTSBBDKEGNEX

## Membuat Plain Text

### Menyusun Tabel

Cipher text dimasukkan ke sebuah tabel dengan lebar $N$ dan tinggi $M$. Dengan 
$$N = \text{jumlah huruf pada key}$$
dan
$$M = \left \lceil \frac {\text{jumlah huruf pada cipher text}} {N} \right \rceil$$

In [62]:
import math

n_empty_cells = len(key) - (len(cipher) % len(key))
max_col_len = math.ceil(len(cipher) / len(key))

cols = [[""] * max_col_len for _ in range(len(key))]

i_cipher = 0

for i in range(len(key)):
    cols_filtered = [col for j, col in enumerate(cols) if key_letter_index_pairs[j][1] == i + 1]
    indexes_cols_filtered = [j for j, col in enumerate(cols) if key_letter_index_pairs[j][1] == i + 1]

    for i_y in range(max_col_len):
        for i_x in range(len(cols_filtered)):
            if (i_y * len(key) + indexes_cols_filtered[i_x] + 1) > len(cipher):
                continue
            cols_filtered[i_x][i_y] = cipher[i_cipher]
            i_cipher += 1

rows = list(zip_longest(*cols, fillvalue=""))

df_rows = pd.DataFrame(rows)
df_rows.columns = list(key)
display(df_rows.style.hide(axis='index'))

In [63]:
plain = ""
for row in rows:
    plain += "".join(row)

print(f"Plain text: {plain}")

Plain text: TENTUKANPRIORITASANDASEBABKITATIDAKDAPATMENGERJAKANSEMUANYAX